<!DOCTYPE html>
<html ng-app="saveondev">
  <head>
    <title>{{ title }}</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
    <script type="text/javascript" src="javascripts/app/main.js"></script>
  </head>
  <body >
  	{{{ body }}}
  </body>
</html>